#app {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#md-render {
    height: 100%;
    width: 100%;
    border: none;
    display: inline-flex;
}
